:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  width: 100%;
}

.title-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eras-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1px;
  width: 100%;
}

.era-box {
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: white;
  font-weight: bold;
  height: 25px;
  background-color: #5b6e80;
}

.era-progress {
  display: block;
  height: 25px;
}

.progress-text {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  text-align: center;
  line-height: 25px;
  color: white;
}

.current-era-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.current-era-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}

.current-era-endpoints {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

p {
  margin-bottom: 0;
}

h1 {
  font-size: 2.3em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 15px;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

table {
  border-collapse: collapse;
  margin-top: 15px;
}

td {
  border: solid gray 1px;
  padding: 5px 15px;
}

select {
  border-radius: 8px;
  border: 1px solid gray;
  font-size: 1em;
  font-family: inherit;
}

button {
  border-radius: 8px;
  border: 1px solid gray;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* Don't render spin buttons on number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
